.card {
  border: 2px solid black;
  width: 350px;
  padding: 20px;
  border-radius: 30px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__separator {
    border: 1px solid black;
    margin-top: 20px;
  }

  &__footer {
    text-align: center;
  }
}
