@import "bootstrap/scss/bootstrap";
@import "./navbar.scss";
@import "./card.scss";

.container {
  max-width: 1170px;
  margin: 0 auto;
  border: 3px solid black;
}

.btn {
  width: 200px;
}

.card-todo {
  background-color: rgb(218, 240, 232);
}

.card-progress {
  background-color: rgb(248, 221, 226);
}

.card-done {
  background-color: rgb(173, 203, 237);
}

.todo {
  margin: 10px;
  background-color: rgb(246, 216, 120);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid orange;
}

.data {
  display: flex;
  justify-content: space-between;
}

.data-from-user {
  max-width: 180px;
}

.data-user {
  margin-top: 10px;
  font-weight: bolder;
}

.form-select {
  margin: 10px;
  max-width: 130px;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  max-width: 150px;
}




